.containerTop {
    position: fixed;
        top: 0;
        height: auto !important;
        z-index: 1003;
}

.containerPrincipal {
    position: absolute;
        left: 50%;
        top: 50%;
        border: 1px solid blue;
        padding: 40px;
        background-color: white;
}

.containerSecundario{
    text-align: center;
}

.btnSignOutAmplify{
    position: relative;
}